@font-face {
    font-family: 'Galanacci';
    src: url('src/Galanacci-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: #144c3b;
    color: #fab322;
    font-family: 'Galanacci', sans-serif;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
}

body::before {
    content: '';
    position: fixed; /* Changed from absolute to fixed */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('src/pattern.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Changed from repeat to no-repeat */
    background-attachment: fixed; /* Added to ensure the background stays fixed */
    opacity: 0.1;
    z-index: -1;
}

#text-container {
    text-align: center;
    padding: 10px;
    max-width: 80%;
    word-wrap: break-word;
}

.large-text {
    font-size: 2.5em;
}

.small-text {
    font-size: 2.5em;
}

.cursor {
    border-right: 0.05em solid #fab322;
    animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@media (max-width: 767px) {
    .large-text {
        font-size: 1.0em;
    }

    .small-text {
        font-size: 1.0em;
    }
}

nav {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    z-index: 10;
    transition: opacity 0.3s;
}

.logo-container img {
    max-width: 100%;
    height: 120px;
}

.container {
    text-align: center;
    width: 100%;
    padding-bottom: 40px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.0);
}

#send-enquiry, #work-examples, #services {
    padding: 10px 20px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    z-index: 1000;
    color: #fab322;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    transition: color 0.3s;
    position: relative;
}

#send-enquiry::before, #work-examples::before, #services::before {
    display: block;
    content: attr(title);
    font-weight: 700;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

#send-enquiry:hover, #work-examples:hover, #services:hover,
#send-enquiry:active, #work-examples:active, #services:active,
#send-enquiry:focus, #work-examples:focus, #services:focus {
    font-weight: 700;
    color: #fab322;
}

@media (max-width: 480px) {
    #send-enquiry, #work-examples, #services {
        font-size: 12px;
        padding: 8px 12px;
    }

    #send-enquiry::before, #work-examples::before, #services::before {
        display: none;
    }
}

.copyright {
    position: fixed;
    bottom: 20px;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 5px;
    color: #fab322;
    opacity: 1;
    z-index: 1000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.input-container {
    position: relative;
    display: inline-block;
}

#animated-placeholder {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fab322;
    pointer-events: none;
    font-size: 16px;
    font-family: 'Lora', serif;
    font-weight: 400;
    z-index: 10;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.popup {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #144c3b;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #fab322;
    width: 80%;
    max-width: 500px;
    position: relative;
}

.close {
    color: #fab322;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

#enquiry-form {
    display: flex;
    flex-direction: column;
}

#enquiry-form input,
#enquiry-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #fab322;
    background-color: #144c3b;
    color: #fab322;
    font-family: 'Galanacci', sans-serif;
}

#enquiry-form textarea {
    height: 100px;
    resize: vertical;
}

#enquiry-form button {
    padding: 10px 20px;
    background-color: #fab322;
    color: #144c3b;
    border: none;
    cursor: pointer;
    font-family: 'Galanacci', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

#enquiry-form button:hover {
    background-color: #144c3b;
    color: #fab322;
    border: 1px solid #fab322;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.pdf-close-button {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fab322;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #144c3b;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    line-height: 1;
}

.pdf-close-button:hover {
    transform: translateX(-50%) scale(1.1);
}

@media (max-width: 768px) {
    .pdf-close-button {
        top: 5px;
        width: 25px;
        height: 25px;
        font-size: 16px;
    }
}
